<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--
		<add key="CsvLogFile" value="C:\Users\YanisGASSA\Downloads\Log_Entity.csv" />
		-->
		
		<add key="ColumnsToExtract" value="TimeStamp, EventMessage, ErrorCallStack, CallStack, TaskName"/>
		<!--
		<add key="FilterKeyword" value="CliError"/>
		-->
	</appSettings>
</configuration>